:root{
  --spooky-color-main: rgb(248, 99, 0);
  --spooky-color-sec: rgb(247, 152, 90);
  --primary-bg: rgb(25, 25, 25);
  --secondary-color: rgb(68, 68, 68);
  --tertiary-color: rgb(42, 42, 42);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Yeon Sung', cursive;
  overflow-x: hidden;
}

/* Navigation */

#navbar{
  background: var(--primary-bg);
}

.navContainer{
  display: flex;
  color:white;
  justify-content: space-around;
}

.emText{
  color:var(--spooky-color-main);
}

/* Logo Part */

.logoContainer{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.navContainer .logoContainer img{
  width: 5%;
  height: 100%;
  display: none;
}

.navContainer p{
  font-size: 2.4rem;
  margin-left: 0.3rem;
}


/* Navigations Bar */
.navContainer .about{
  display: flex;
  justify-content: space-around;
  width: 35%;
  align-items: center;
}

.navContainer ul{
  list-style: none;
}

.navContainer ul li{
  white-space: nowrap;
  text-align: center;
  
}

.navContainer ul li a{
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  margin: 0.2rem;
  transition: 0.4s ease-out;
}

.navContainer ul li a:hover{
  background: #333;
  color: var(--spooky-color-main);
  border-radius: 5px;

}

/* Bakgrund etc */

.primarySection{
  background: url("../img/background_wall.jpg") no-repeat center center/cover;
}

.primarySection .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}

.primarySection .container h1{
  font-size: 4rem;
  color: white;
}

.primarySection .container h3{
  font-size: 2.5rem;
  color:white;
}

/* TIMELINE */


.historyContainer{
  padding: 1rem;
  text-align: center;
  font-size: 4rem;
  background: var(--primary-bg);
  color: var(--spooky-color-main);
}

#timeline ul{
  background: var(--primary-bg);
  padding: 3.8rem 0rem;
}

.history i{
  margin-right: 0.4rem;
}

/* Skapar midlione */
#timeline ul li{
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 3rem;
  background: var(--spooky-color-main);
}

/* Boxes */
#timeline ul li div{
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: var(--secondary-color);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

/* Right Side Div placement*/
#timeline ul li:nth-child(odd) div{
  left: 40px;
  transform: translateX(200px);
}

/* Left side Div placement*/
#timeline ul li:nth-child(even) div{
  left: -434px;
  transform: translateX(-200px);
}

#timeline h4{
  color:white;
  font-size: 1.6rem;
}

#timeline p{
  font-size: 1.1rem;
}

/* Dots */
#timeline ul li:after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 1.7rem;
  height: 1.7rem;
  background: inherit;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

/* För att göra arrows */
#timeline div::before{
  content: "";
  position: absolute;
  bottom: 0.35rem;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right side arrows */
#timeline ul li:nth-child(odd) div::before{
  left: -1rem;
  border-width: 0.5rem 1rem 0.5rem 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* Left side arrows */
#timeline ul li:nth-child(even) div::before{
  right: -1rem;
  border-width: 0.5rem 0 0.5rem 1rem;
  border-color: transparent transparent transparent var(--secondary-color) ;
}

/* Show boxes with JS */
#timeline ul li.show div{
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* Fyller Bulletsen med färg */
#timeline ul li.show:after{
  background: var(--spooky-color-sec);
}


/* KONTAKT DEL */
#contact{
  background: var(--tertiary-color);
}

#contact .contactContainer{
  max-width: 1200px;
  margin: auto;
}

/* TEXTDEL */
#contact .contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


#contact .contact h2{
  font-size: 2.8rem;
  color: var(--spooky-color-main);
}

#contact .contact p{
  font-size: 1.1rem;
  color: #fff;
}

/* Form Del */

#contact form{
  margin-left: 2rem;;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact .formGroup, .btn{
  margin: 0.75rem;
}


#contact label{
  display: block;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}



#contact .formGroup input,
#contact .formGroup textarea,
.btn{
  width: 95%;
}


.btn{
  font-size: 1rem;
  background: var(--primary-bg);
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s ease-in;
  border:none;
  width: 93.5%;
}

.btn:hover{
  color:var(--spooky-color-main);
} 

#contact input, #contact textarea{
  padding: 0.5rem;
}

/* Footer */
footer{
  background: var(--tertiary-color);
  color: white;
  text-align: center;
  padding: 1rem 0rem;
}



/* Media Queries */
@media(max-width: 950px){
  #timeline ul li div{
      width: 15.625rem;
  }

  #timeline ul li:nth-child(even) div{
      left: -17.75rem;
  }

  .navContainer .about{
    width: 65%;
  }
}

@media(max-width: 600px){ 
  /* Flyttar Linjen åt vänster */
  #timeline ul li {
      margin-left: 1.3rem;
  }

  /* Gör så att bredden för divarna nästan fyller ut viewporten */
  #timeline ul li div{
     width: calc(100vw - 5.625rem);
  }

  #timeline ul li:nth-child(even) div{
      left: 2.5rem;
  }

  #timeline ul li:nth-child(even) div::before{
      left: -1rem;
      border-width: 0.5rem 1rem 0.5rem 0;
      border-color: transparent var(--secondary-color) transparent transparent;
  }
  
}

